<div class="card text-center">
  <div class="card card-header text-white bg-info mb-3">
    Notification
  </div>
  <div class="card-body ">
    <h5 class="card-title ">Title of notification</h5>
    <p class="card-text">uis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.</p>
    <a href="#" class="btn btn-outline-dark">Moved to archive</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
