
<div class="card text-center mb-4">
  <div class="card card-header mb-3 <%= class_str %>">
    <%= notification.title %>
  </div>
  <div class="card-body ">
    <h5 class="card-title "><%= notification.title %></h5>
    <p class="card-text"><%= notification.body %></p>
    <a href="#" class="btn btn-outline-dark">Moved to archive</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
