<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
 <header class="masthead mb-auto">
   <div class="inner">
     <h3 class="masthead-brand">Alternatives 4</h3>
     <nav class="nav nav-masthead justify-content-center">
       <a class="nav-link active" href="#">Home</a>
       <a class="nav-link" href="#">Policy</a>
       <a class="nav-link" href="#">Contact</a>
       <% if user_signed_in? %>
         <li class="nav-link">
         <%= link_to('Logout', destroy_user_session_path, class: "btn btn-sm btn-outline-secondary", method: :delete) %>
         </li>
       <% else %>
         <li class="nav-link">
         <%= link_to('Login', new_user_session_path, class: "btn btn-sm btn-outline-secondary")  %>
         </li>
       <% end %>
     </nav>
   </div>
 </header>

 <section role="main" class="inner cover">
   <div id="typing" class="main_title h1">
   </div>
   <p class="lead mb-3">A comprehensive platform dedicated to estates management.
    It is fast and easy. We are driven to deliver the best solution for your organization.</p>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead"><%= link_to('Register now', new_user_registration_path, class: "btn btn-lg btn-warning") %> </p>
      </div>
      <div class="col">
        <p class="lead"><%= image_tag("logotype.jpg", size: "169X56", class: "border border-light rounded", alt: "Alternatives 4")%></p>
      </div>
    </div>
  </div>
</section>

 <footer class="mastfoot mt-auto">
   <div class="inner">
     <p>Do you need more informations? Visit <a href="https://github.com/netguru-code-college/vol3-red">project's repository.</a></p>
   </div>
 </footer>
</div>
