    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Policy</a>
            <a class="nav-link" href="#">Contact</a>
            <a id="nav-margin" class="btn btn btn-info" href="#">Sign In</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div id="typing" class="main_title h1">
        </div>
        <p class="lead">A comprehensive platform dedicated to property management.
          Public messages and private messages for residents.
          Ability to report a fault using the application.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-warning">Register now</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Do you need more informations? Visit public
            <a href="https://github.com/netguru-code-college/vol3-red">@repository</a>.</p>
        </div>
      </footer>
    </div>
