<div class="card text-center">
  <div class="card card-header text-white bg-info mb-3">
     Apartment Notification
  </div>
  <div class="card-body ">
    <h5 class="card-title "> <%= @anotification.title %> </h5>
    <p class="card-text"> <%= @anotification.body %> </p>
    <!-- button for admin user -->
  </div>
  <div class="card-footer text-muted">
    Created at: <%= @anotification.created_at.time.to_date %> Valid to: <%= @anotification.valid_up_to_date %>
  </div>
</div>
