
  <div class="card text-center mt-5 mb-5 pb-5">
    <div class="card-body ">
      <h5 class="card-title ">Add a new estate</h5>
      <p class="card-text">Luis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.</p>
    </div>


    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <%= simple_form_for @estate, url: dashboard_estates_path do |f| %>
          <%= f.input :name,  label: 'Name of an estate' %>
          <%= f.input :estate_image, as: :file, label: false, required: true %>
          <%= f.button :submit, class: "btn btn-lg btn-success" %>
        <% end %>
      </div>

      <div class="col-sm">
      </div>
    </div>
  </div>
    <div class="wrapper m-5 text-center">
      <a href="#" class="btn btn-sm btn-outline-dark">Back to dashboard</a>
    </div>
